{% extends "base.html" %}

{% block content %}

<div class="page-header">

    <div>
        <h1>Database</h1>
        <p>Waypoint database management</p>
    </div>

</div>


<div class="card database-card">

    <div class="card-header">

        <span>Waypoint Database</span>

        <div class="database-summary">

            <span id="point-count">
                0 POINTS
            </span>

            <span id="selected-count">
                0 SELECTED
            </span>

        </div>

    </div>


    <div class="card-body">

        <div class="database-toolbar">

            <div class="database-actions">

                <button
                    class="button"
                    type="button"
                    onclick="loadDB()">
                    Load from DB
                </button>


                <button
                    class="button"
                    type="button"
                    onclick="saveSelected()">
                    Save selected
                </button>


                <button
                    class="button button-danger"
                    type="button"
                    onclick="deleteSelected()">
                    Delete selected
                </button>


                <button
                    class="button"
                    type="button"
                    onclick="selectAll()">
                    Select all
                </button>

            </div>

        </div>


        <div class="database-table-wrapper">

            <table id="database-table">

                <thead>

                    <tr>

                        <th data-column="latitude">
                            LAT
                            <span class="sort-indicator"></span>
                        </th>


                        <th data-column="longitude">
                            LON
                            <span class="sort-indicator"></span>
                        </th>


                        <th data-column="time">
                            TIME
                            <span class="sort-indicator"></span>
                        </th>


                        <th data-column="sequence">
                            SEQ
                            <span class="sort-indicator"></span>
                        </th>


                        <th data-column="in_database">
                            DB
                            <span class="sort-indicator"></span>
                        </th>


                        <th data-column="visited">
                            VISITED
                            <span class="sort-indicator"></span>
                        </th>


                        <th class="select-column">
                            SELECT
                        </th>

                    </tr>

                </thead>


                <tbody id="database-table-body">
                </tbody>

            </table>

        </div>

    </div>

</div>

{% endblock %}


{% block scripts %}

<script src="{{ url_for('static', filename='js/database.js') }}"></script>

{% endblock %}

