{% extends "base.html" %}

{% block content %}

<div class="settings-page">

    <h1>Settings</h1>

    <div class="settings-table-container">

        <table class="settings-table">

            <thead>
                <tr>
                    <th>Setting</th>
                    <th>Value</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>
                        <div class="setting-name">
                            Xbox Controller
                        </div>
                        <div class="setting-description">
                            Enable Xbox controller input
                        </div>
                    </td>

                    <td class="setting-value">

                        <label class="switch">

                            <input
                                type="checkbox"
                                id="xbox-controller-enabled"
                            >

                            <span class="slider"></span>

                        </label>

                    </td>
                </tr>


                <tr>
                    <td>
                        <div class="setting-name">
                            Arrival Distance Limit
                        </div>
                        <div class="setting-description">
                            Distance from target point required to consider arrival
                        </div>
                    </td>

                    <td class="setting-value">

                        <input
                            type="number"
                            id="arrival-distance-limit"
                            class="setting-number-input"
                            step="0.1"
                            min="0"
                        >
                        <span class="setting-unit">
                            m
                        </span>

                    </td>
                </tr>


                <tr>
                    <td>
                        <div class="setting-name">
                            Heading Tolerance
                        </div>
                        <div class="setting-description">
                            Maximum heading difference before turning
                        </div>
                    </td>

                    <td class="setting-value">

                        <input
                            type="number"
                            id="heading-tolerance"
                            class="setting-number-input"
                            step="1"
                            min="0"
                            max="180"
                        >

                        <span class="setting-unit">
                            deg
                        </span>

                    </td>
                </tr>
                
                <tr>
                    <td>Direct Drive</td>
                    <td>
                        <label class="switch">
                            <input
                                type="checkbox"
                                id="direct-drive-enabled"
                            >
                            <span class="slider"></span>
                        </label>
                    </td>
                </tr>

            </tbody>

        </table>

    </div>

</div>

{% endblock %}

{% block scripts %}

<script
    src="{{ url_for('static', filename='js/settings.js') }}"
></script>

{% endblock %}
